

@charset "UTF-8";

*{
    
}
#sobre{
    text-align: center;
}

p{
    text-align: justify;
    margin: 30px;
}

h3{
    margin: 30px;
}


#contato{
    background-color: black;
    color: white;
    text-align: center;
}

.waves-effect.waves-white .waves-ripple {
     background-color: rgb(255, 255, 255);
   }
   
#btn{
    outline: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: 1px solid white;	
  }
#form{
    margin: 30px;
}


.titulo{
    text-align: left;
    margin: 30px;
}

.input-field input, .input-field textarea{
    color: #fff;    
}

  .mapa {
    width: 100%;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px black inset !important;
      -webkit-text-fill-color: #fff;
  }