

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Stylish');


#sobre{
    text-align: center;
    color: #fff;
    position: relative;
    top: 150px;
    height: 500px;
}



h3{
    margin: 30px;
}


#contato{
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    position: relative;
    height: 550px auto;
    
}

   
#btn{
    outline: none;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 75px;
    margin-bottom: 20px;	
}

#btn:hover{
    background-color: #fff;
    color: black;
}

#form{
    margin: 30px;
 
}


  .mapa {
    position: relative;
    top: -20px;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 30px black inset !important;
      -webkit-text-fill-color: #fff;
  }
  #local{
      background-color: rgba(0, 0, 0, 0.5);
      display: block;
      position: absolute;
      z-index: 1000;
      height: 450px;
      color: #fff;
      
  }

iframe{
    position: relative;   
 
}

#ende{
    position: relative;
    top: 60px;
    text-align: justify;
    margin: 30px;
    color: #fff;
}

body{
    
    background: url("../img/bg-img.jpeg") ;
    background-attachment: fixed;
    
}
.input-field input[type=text]:focus + label {
    color: #fff;
  }
.input-field input, .input-field textarea{
    color: #fff;
}

.conteudoContato{
    position: relative;
    top: 35px;
    font-size: 17px;
}

#map{
    margin-bottom: 0px !important;
    background-color: black;
}

.tit{
    font-family: 'Stylish', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

.menu{
    z-index: 1000;
}




