/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}


h9 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.5rem;
}


p {
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
}

e1 {
  height: 550px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

e2 {
  height: 550px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.carousel {
  height: 50px;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.menu {
  background-color: black;
  font-family: 'Comfortaa', cursive;
  position: fixed;
  padding: 10px 20px;

}


.imagem {
  height: 120px;
  width: 120px;
  position: center;
  top: 10px;
}


.bg {
  background: url('../img/imagemfundo.jpg');
  width: 100%;
  height: 1000px;
}

.menuAnimation {

  padding: 0px;
  background-color: rgba(7, 4, 4, .8);
  box-shadow: 2px 2px 2px #000000;
  transition: 1.5s ease all;

}

.nav-title {

  font-size: 20pt !important;
}


.item_menu {
  position: relative;


}

.item_menu:hover {
  background-color: #292929;


}

.ImagemAnimation {

  height: -300px;
  width: -200px;


}



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


h1,
h2,
h3,
h4,
h5,
h6 {
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}
.footer {
  background: linear-gradient(105deg, #1C1C1C, #A9A9A9);
  padding-top: 80px;
  padding-bottom: 40px;
}
/*END FOOTER SOCIAL DESIGN*/
.single_footer {
}
@media only screen and (max-width: 768px) {
  .single_footer {
    margin-bottom: 30px;
  }
}
.single_footer h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}
.single_footer h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 40px;
  background: #fff;
  margin-top: 20px;
}
.single_footer p {
  color: #fff;
}
.single_footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.single_footer ul li {
}
.single_footer ul li a {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 36px;
  font-size: 15px;
  text-transform: capitalize;
}
.single_footer ul li a:hover {
  color: #696969;
}

.single_footer_address {
}
.single_footer_address ul {
}
.single_footer_address ul li {
  color: #fff;
}
.single_footer_address ul li span {
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}
.contact_social ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
  display: block;
  position: relative;
  margin-top: 15px;
  width: 100%;
}
.subscribe__input {
  background-color: #fff;
  border: medium none;
  border-radius: 5px;
  color: #333;
  display: block;
  font-size: 15px;
  font-weight: 500;
  height: 60px;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0 150px 0 20px;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .subscribe__input {
    padding: 0 50px 0 20px;
  }
}

.subscribe__btn {
  background-color: transparent;
  border-radius: 0 25px 25px 0;
  color: #01c7e9;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
}
.subscribe__btn i {
  transition: all 0.3s ease 0s;
}
@media only screen and (max-width: 768px) {
  .subscribe__btn {
    right: 0px;
  }
}

.subscribe__btn:hover i {
  color: #0000CD;
}
button {
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profilef {
  margin-top: 40px;
}
.social_profilef ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profilef ul li {
  float: left;
}
.social_profilef ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profilef ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profilef ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}




/*START SOCIAL PROFILE CSS*/
.social_profilet {
  margin-top: 40px;
}
.social_profilet ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profilet ul li {
  float: left;
}
.social_profilet ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profilet ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profilet ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}





/*START SOCIAL PROFILE CSS*/
.social_profileg {
  margin-top: 40px;
}
.social_profileg ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profileg ul li {
  float: left;
}
.social_profileg ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profileg ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profileg ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}




/*START SOCIAL PROFILE CSS*/
.social_profilei {
  margin-top: 40px;
}
.social_profilei ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profilei ul li {
  float: left;
}
.social_profilei ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 768px) {
  .social_profilei ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profilei ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}



.social_profilef ul li a:hover {
  background: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
  border: 0px;
}

.social_profilet ul li a:hover {
  background: #3cf;
  border: 1px solid #3cf;
  color: #fff;
  border: 0px;
}

.social_profileg ul li a:hover {
  background: #dc4a38;
  border: 1px solid #dc4a38;
  color: #fff;
  border: 0px;
}

.social_profilei ul li a:hover {
  background: #f26798;
  border: 1px solid #f26798;
  color: #fff;
  border: 0px;
}

/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #01c7e9;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: #0000CD;
}
