<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/cardapio.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Maria Fumaça | Cardapio</title>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Merienda" rel="stylesheet">

</head>

<body>
    <div class="bg">
            

    <div class="container-fluid">
        <nav class="nav-extended menu">
            <div class="nav-wrapper">

                <a href="#!" class="brand-logo center">
                    <img class="imagem" src="../assets/img/nargile.png" alt="">
                </a>
                <ul class="right hide-on-med-and-down itensMenu">
                    <li><a class="item_menu">Início</a></li>
                   <li><a class="item_menu">Cardápio</a></li>
                    <li><a class="item_menu">Quem somos</a></li>
                </ul>
                <span class="nav-title">Maria Fumaça Tabacaria & Lounge</span>
            </div>
        </nav>

        <div class="container">
            <nav>

            </nav>
        </div>
    </div>
    <div class="center">
          
        <div>  
            <h3 class="texto"> Confira nosso cardápio: </h3>
            <h5 class="texto2">O nosso ambiente é totalmente climatizado<br> para o seu conforto e o espaço amplo<br>
                para o melhor dos nossos clientes! <br></h5>

        </div>
        <img class="cardapio" src="../assets/img/cardapio.jpg" alt="">


    </div>


</div>





    <script src="../assets/js/functions.js"></script>

</body>

</html>