<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/css/sobre.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


        <title>Sobre</title>
    </head>

    <body class="tudo">


        <div class="container-fluid">
            <div class="row" id="sobre">
                <div class="col s12 m8 offset-m2">
                    <h1 class="titulo">Quem somos?</h1>
                    <p class="sobre">Desde de 1500 nós da Maria Fumaça temos a honra
                        de oferecer o lugar ideal para quem deseja curtir
                        com os amigos em um ambiente confortável e descontraído com
                        essências da mais alta qualidade, além de um amplo cardápio
                        de bebidas e deliciosos aperitivos. Aqui você pode relaxar e aproveitar
                        os mais de 100 sabores de essências, bater um papo e simplesmente se deixar
                        levar. Venha nos conhecer e se apaixonar!</p>
                </div>
            </div>
            <div class="row" id="contato">
                <div class="conteudoContato">
                    <div class="col s12">
                        <h3 class="titulo">Contato</h3>
                        <form id="form">
                            <div class="input-field ">
                                <input id="nome" type="text" class="validate">
                                <label for="nome">Nome</label>
                            </div>
                            <div class="input-field">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                                <span class="helper-text" data-error="Email inválido"></span>
                            </div>
                            <div class="input-field">
                                <textarea id="mensagem" class="materialize-textarea" maxlength="500"></textarea>
                                <label for="mensagem">Mensagem</label>
                            </div>
                        </form>

                        <a id="btn" class="btn waves-effect waves-dark">Enviar</a>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row" id="map">
                <div class="mapa">

                    <div class="col m4 l3 offset-m7 offset-l8 " id="local">
                        <div id="ende">
                            <h3 class="titulo">Nossa localização</h3>
                            <p>Rua dos Bobos, 0 <br> Pindamonhangaba do Norte - Ac
                                <br>Email: mariafumaca@contato.com
                                <br>Tel.: 99 4002-8922

                            </p>
                        </div>
                    </div>

                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31760591.28161111!2d-69.73009156372365!3d-13.656224737639532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9c59c7ebcc28cf%3A0x295a1506f2293e63!2sBrasil!5e0!3m2!1spt-BR!2sbr!4v1557239216062!5m2!1spt-BR!2sbr"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="../assets/js/functions.js"></script>
    </body>

</html>